:root{
    --fuentePrimaria:'Montserrat', sans-serif;
    --fuenteSecundaria:'Nunito', sans-serif;

    --rojo: #d32c3a;
    --verde:#00934a;
    --blanco:#fff;
    --negro:#000;
}

/*------------------------------------ Globales ------------------------------------*/

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::after, *::before {
    box-sizing: inherit; /*Establece la posibilidad de herencia y no herencia del elemento padre*/
}


h1,h2,h3{
    margin: 0;
    font-family: var(--fuentePrimaria);
}


img{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

p,a {
    font-family: var(--fuenteSecundaria);
}

p{
    margin: 0;
    color: var(--blanco);
    line-height: 1.5;
    font-size: 1.2rem;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    color: var(--blanco);
    font-size: 0.9rem;
}

/*Tamaño pantalla tablet*/
@media(min-width: 768px ){
    a{
     font-size: 1.17rem;    
   }
   p{
       font-size: 1.56rem;
   }
 }

/*------------------------------------ Header ------------------------------------*/

.header{
    background-color: var(--negro);
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    padding: 1rem 0;
   
}

.nav{
  display: flex;
  justify-content: space-evenly;
  background-color: var(--negro);
  position: sticky;
  top: 0;
  padding: .3rem;
}

.header__titulo{
    width: 100%;
    text-transform: uppercase;
    font-size: 1.55rem;
    font-weight: bold;
   
}

.header__titulo span{
    display: inline-block;
    height: 1.15rem;
    width: 3rem;
    background-image: url(img/Bandera\ Italia.webp);
    background-size: cover;
}  

.nav__a{
    border-bottom: 1px solid var(--negro);
}

.nav__a:hover{
    border-bottom: 1px solid var(--blanco);
}

@media(min-width: 1440px ){
    /*Multiplicar tamaño por 1.3*/
  .header__titulo{
      font-size: 2rem;
  }
  .header__titulo span{
    height: 1.5rem;
    width: 4rem;
  }
}

/*------------------------------------ Nosotros ------------------------------------*/
.nosotros{
    height: 65vh;
    background-image: url(img/fondo-nosotros.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nosotros__p{
    background-color: rgba(0 0 0 / 50%);
    border-radius: 1rem;
    padding: 1.5rem;
    width: 60vw;
    font-weight: 700;
    font-size: 1rem;
}

/*Tamaño pantalla tablet*/
@media(min-width: 768px ){
    .nosotros__p{
        font-size: 1.3rem;
    }
}

/*Tamaño pantalla notebook*/
@media(min-width: 1440px ){
  .nosotros__p{
      width: 50vw;
      font-size: 1.69rem;
  }
}
/*------------------------------------ Recetas ------------------------------------*/

.recetas{
    margin: 2rem auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.recetas__titulo, .receta__p{
    font-style: italic;
}
.recetas__titulo{
    margin: 2rem 0;
}

/*Cards recetas*/
.receta{
    max-width: 30rem;
    border-bottom: 1px solid var(--negro);
    margin: 0 1rem;
}
.receta:last-child{
    border-bottom: none;
}
.receta__titulo{
    text-transform: uppercase;
    font-weight: 100;
    padding-bottom:  1rem;
    margin-top: 2rem;
}
.receta__img{
    height: 20rem;
    width: 25rem;
    object-fit: cover;
    max-width: 100%;
}
.receta__p{
    color: var(--negro);
    padding: 1rem;
    text-align: left;
}

.receta__btn{
    background-color: var(--negro);
    padding: 1.3rem;
    margin-bottom: 2rem;
    transition: .5s;
    }
    .receta__btn:hover{
        background-color: var(--verde);
    }
/*Tamaño pantalla tablet*/
@media(min-width: 768px ){
  
    .receta{
        display: flex;
        flex-direction: column;
    }
    .receta__img{
        height: 25rem;
        width: 30rem;
    }
    .receta__btn{
        align-self: center;
        justify-self: center;
       
    }
}
/*Tamaño pantalla notebook*/
@media(min-width: 1440px ){
  .recetas{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1/4 3/4;
  }
  .recetas__titulo{
      grid-column: 1/4;
      font-size: 2rem;
  }
  .receta{
      justify-self: center;
      align-self: center;
      border: none;
  }
  .receta__p{
      font-size: 1.35rem;
  }
}


/*------------------------------------ Formulario ------------------------------------*/

.form{
    background-image: url(img/oliva2.webp);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    margin-top: 3rem;
}
.form__container{
    background-color: rgba(0 0 0 / 30%);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;   
}
.form__titulo{
    margin-top: 2rem ;
    text-transform: uppercase;

}
.form__group{
    display: flex;
    flex-direction: column;
  
    
}
.form__label{
    margin-bottom: 1rem;
    font-size: 1.25rem;  
}
.form__textArea, .form__input{
    background-color: rgba(255 255 255 / 80%);
    border: none;
    width: 70vw;
    max-height: 10rem;
    padding: .5rem;   
    font-style: italic;
    font-size: .85rem;
}

.form__btn-submit{
    display: block;
    text-transform: uppercase;
    background-color: var(--negro);
    color: var(--blanco);
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    border: none;
    transition: .5s;
}

.form__btn-submit:hover{
    background-color: var(--verde);
}

/*Tamaño pantalla tablet*/
@media(min-width: 768px ){
    .form__textArea, .form__input{
        width: 45vw;
        font-size: 1.157rem;
    }
}

/*Tamaño pantalla notebook*/
@media(min-width: 1440px ){
    .form__titulo{
        font-size: 2rem;
    }
    .form__label{
        margin-bottom: 1.3rem;
        font-size: 1.6rem;  
    }
    .form__textArea, .form__input{
        width: 30vw;
        padding: .9rem;
    
    }
    .form__textArea,.form__input{
        font-size: 1.5rem;  
    }
 
}

.form__warnings{
    text-align: center;
    background-color: var(--rojo);
    color: var(--blanco);
    font-size: 1rem;
}
/*------------------------------------Article------------------------------------*/
.articulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2rem 1rem 2rem;
}
.articulo__titulo{
    text-align: left;
    padding: 2rem;
    font-style: italic;
}
.articulo__video{
    width: 100vw;
   height: 50vh;
}
iframe{
    width: 100%;
    height: 100%;
}

@media(min-width: 768px ){
    .articulo__video{
        width: 60%;
    }
}

@media(min-width:1440px){
.articulo{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    gap: 2rem;
}

}
/*------------------------------------ Footer ------------------------------------*/
.footer{
    height: 5rem;
    background-color: var(--negro); 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__p{
    font-size: 1rem;
    text-transform: uppercase;
}
.footer a{
    margin-left: .5rem;
    font-size: 1.5rem;
}

/*------------------------------------Proximamente------------------------------------*/
.prox__container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
}
